$bgHeight: 250vh;
// 背景画像単体の設定
@mixin background-image-style {
    background-image: url(/images/bg.png);
    background-size: 154px 119px;
    opacity: 0.6;
}
// 背景を覆うレイヤー
@mixin on-background-style {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $bgHeight;
    background: #e9e9e9;
    opacity: 0.3;
}
// ボタンの非アクティブ状態のスタイル
@mixin disabled-style {
    background-color: #dcdcdc;
    color: #555;
    border: 0.05em solid #555;
    cursor: not-allowed;
    opacity: 0.8;
}

#lotteryContainer {
    position: relative;
}
#lotteryBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $bgHeight;
    @include background-image-style;

    &::before {
        @include on-background-style;
    }
}

.container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

input[type="text"] {
    text-align: center;
}

.button-for-lottery:hover {
    opacity: 0.8;
}

.lottery-text {
    font-size: 2em;
}

// 抽選の設定
.input-container {
    margin: auto;
    width: 100px;
    height: 80px;

    &--text {
        margin: auto;
        font-size: 3em;
        line-height: 80px;
    }

    &__input-num {
        width: 100%;
        height: 80px;
        border-radius: 0.2em;
        font-size: 3em;

        &.disabled-input {
            @include disabled-style;
        }
    }

    &--remove {
        width: 80px;
        height: 60px;

        &__remove-number {
            width: 100%;
            height: 100%;
            border-radius: 0.2em;
            font-size: 2em;

            &.disabled-input {
                @include disabled-style;
            }
        }
    }
}

.lottery-times-text-container {
    height: 80px;
    min-width: 130px;
    display: flex;

    & .lottery-text {
        margin: auto;
    }
}

.setting-lottery-button-container {
    width: 100%;
    display: flex;

    &__set-button {
        margin: auto;
        display: flex;
        width: 250px;
        height: 80px;
        background: #ddd;
        border-radius: 0.3em;
        cursor: pointer;
        box-shadow: 0 0.4rem 0 rgb(158, 158, 158);

        p {
            margin: auto;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
        }

        &.clicked {
            box-shadow: 0 0.2rem 0 rgb(158, 158, 158);
            margin-top: 0.2rem;
            margin-bottom: -0.2rem;
        }
    }
}

// 抽選の結果
.lottery-result-container {
    height: 100vh;
    border-left: 1px dashed #bbb;
    border-right: 1px dashed #bbb;
}
.result-display-container {
    display: flex;
    width: 100%;
    height: 370px;

    &__result-display {
        position: relative;
        margin: auto;
        width: 600px;
        height: 350px;

        &__text {
            position: absolute;
            top: 10%;
            left: 13%;
            transform: translate(-50%, -50%);
            font-size: 4em;
        }

        &__input-text {
            width: 600px;
            height: 350px;
            border-radius: 0.05em;
            font-size: 20em;
        }
    }
}

.lottery-button-container {
    display: flex;
    height: 220px;

    &__lottery-button {
        margin: 0 auto;
        display: flex;
        width: 200px;
        height: 200px;
        background: #ef454a;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 0.5rem 0 #d1483e;
        border: none;

        &__text {
            margin: auto;
            color: #fff;
            font-size: 3em;
            font-weight: bold;
        }

        &.clicked {
            box-shadow: 0 0.2rem 0 #d1483e;
            margin-top: 0.3rem;
            margin-bottom: -0.3rem;
        }
    }
}

.lock-button-container {
    display: flex;
    height: 120px;

    &__lock-button {
        margin: 0 auto;
        width: 400px;
        height: 100px;
        background: #ddd;
        border: none;
        border-radius: 0.2em;
        box-shadow: 0 0.5rem 0 #9e9e9e;

        &__text {
            font-size: 3em;
            opacity: 1;
        }

        &.clicked {
            margin-top: 0.3rem;
            box-shadow: 0 0.2rem 0 #9e9e9e;

            span {
                opacity: 0.2;
            }
        }
    }
}

// 抽選のオプション
.all-lottery-button-container {
    height: 70px;

    &__button {
        width: 200px;
        height: 60px;
        background: #00bfff;
        border-radius: 0.3em;
        text-align: center;
        color: #fff;
        line-height: 60px;
        font-size: 2em;
        cursor: pointer;
        box-shadow: 0 0.4rem 0 #008fff;
        display: block;
        opacity: 0.7;

        &.clicked {
            box-shadow: 0 0.2rem 0 #008fff;
            margin-top: 0.2rem;
            margin-bottom: -0.2rem;
            opacity: 0.7;
        }
    }
}

.result-display-speed-container {
    margin-bottom: 8%;

    & .lottery-text.disabled-input {
        color: #555;
        opacity: 0.8;
    }

    & input[type="range"] {
        margin-top: 20px;
        -webkit-appearance: none;
        appearance: none;
        background-color: #008fffcc;
        height: 5px;
        width: 300px;

        &:focus,
        &:active {
            outline: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            border: 1px solid #04487c80;
            width: 18px;
            height: 30px;
            background-color: #008fff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        &:active::-webkit-slider-thumb {
            box-shadow: 0 0 0 3px rgba(0, 143, 255, 0.6);
        }

        &.disabled-input {
            opacity: 0.5;

            &::-webkit-slider-thumb {
                cursor: not-allowed;
            }
        }
    }
}

.output-result-button-container {
    display: flex;

    &__text {
        min-width: 160px;
    }

    &__button {
        display: flex;
        min-width: 200px;
        height: 50px;
        text-align: center;
        border: 0;
        border-radius: 0.3em;
        box-shadow: none;
        background-color: #00c2bc;
        cursor: pointer;

        &__text {
            margin: auto;
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
        }
    }
}

// 抽選結果
.lottery-all-result-container {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: calc($bgHeight - 100vh);
    border-top: 1px dashed #bbb;

    &__display-box {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        &__result-box {
            position: relative;
            height: calc(100vw / 18 * 2);
            width: calc(100% / 6);
            margin: 1% 1% 1% 2%;
            border: 0.01em solid black;
            border-radius: 3px;
            background-color: #fff;

            &__seat-number-box {
                position: absolute;
                top: 15%;
                left: 53%;
                transform: translate(-50%, -50%);
                width: 100%;

                p {
                    font-size: 1.4em;
                    opacity: 0.7;
                }
            }

            &__attendance-number-box {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);

                p {
                    font-size: 8em;
                }
            }
        }
    }
}
